 @using Entities.Concrete
 @model List<Experience>

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Bir internet sitesinde karşıma bir yazilim eğitimi reklamı çıktı. Sonrasında o eğitime katılmaya karar verdim.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Murat YEKENKINRUL</h4>
                    <p><em>Eylül 1990 İzmir doğumluyum. İlköğretim,lise ve üniversite eğitimlerimi de şehrimde tamamladım. İş hayatına küçük yaşlarda başladım ve eğitim alırken de devam ettim. Askerlikten sonra tecrübeli olduğum iş yerine, sadece akademik eğitimini aldığım Kimya sektöründe çalışmaya başladım..</em></p>
                    <ul>
                        <li>Balçova / İzmir</li>
                        <li>0554-9221490</li>
                        <li>muratyeken@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>BilgeAdam Akademi &amp;&nbsp;BOOST Junior-Level Yazılımcı Yetiştirme Programı</h4>
                    <h5>2022 - ...</h5>
                    <p><em>Full-Stack.Net Developer</em></p>
                </div>

                <div class="resume-item">
                    <h4>Anadolu Üniversitesi &amp;&nbsp; İşletme Fakültesi</h4>
                    <h5>2016 - 2020</h5>
                    <p><em>Uluslararası Ticaret ve Lojistik Yönetimi</em></p>
                </div>

                <div class="resume-item">
                    <h4>Ege Üniversitesi &amp;&nbsp; Fen Fakültesi </h4>
                    <h5>2010 - 2020</h5>
                    <p><em>Kimya Bölümü</em></p>
                </div>

                <div class="resume-item">
                    <h4>Salih Dede Lisesi &amp;&nbsp; Yabancı Dil Ağırlıklı</h4>
                    <h5>2004 - 2008</h5>
                    <p><em>Matematik-Fen</em></p>
                </div>

            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Kalite Kontrol Sorumlusu</h4>
                    <h5>2021 - 2022</h5>
                    <p><em>Crea Kozmetik Çözümleri Ltd.Şti </em></p>

                </div>
                <div class="resume-item">
                    <h4>Depo Sorumlusu</h4>
                    <h5>2018 - 2020</h5>
                    <p><em>FLO Ayakkabıcılık A.Ş.</em></p>
                </div>

                <div class="resume-item">
                    <h4>Departman Şefi</h4>
                    <h5>2013 - 2016</h5>
                    <p><em>Tesco KİPA Kitle Pazarlama A.Ş</em></p>
                </div>

                <div class="resume-item">
                    <h4>Organizasyon Yöneticisi</h4>
                    <h5>2011 - 2013</h5>
                    <p><em>Aquamarin Maydanoz Catering</em></p>
                </div>

                <div class="resume-item">
                    <h4>Grafiker,Baskı Sorumlusu</h4>
                    <h5>2007 - 2009</h5>
                    <p><em>Taylan Ofset Repro - Grafiker</em></p>
                </div>

                <div class="resume-item">
                    <h4>Grafiker</h4>
                    <h5>2006 - 2007</h5>
                    <p><em>Stil Tanıtım ve Reklamcılık</em></p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
