@using Entities.Concrete
@model List<Testimonial>

<!-- ======= testimonials section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="wrapper">

                <div class="swipper-slide">
                    <div class="testimonial-item" data-aos="fade-up">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            kardeşim benim be. ne güzel de html yazıyor=)
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="~/template/assets/img/testimonials/testimonials-1.jpeg" class="testimonial-img" alt="">
                        <h3>lorem ıpsum</h3>
                        <h4>software engineer &amp;&nbsp; lorem ıpsum</h4>

                    </div>
                </div><!-- end testimonial item -->

                <div class="swipper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            murat çok iyi kalpli bir öğrencimdi. bu nedenle onu çok seviyorum.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="~/template/assets/img/testimonials/testimonials-2.jpeg" class="testimonial-img" alt="">
                        <h3>lorem ıpsum</h3>
                        <h4>software trainer &amp;&nbsp; lorem ıpsum</h4>
                    </div>
                </div><!-- end testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- end testimonials section -->

