@using Entities.Concrete
@model List<Feature>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        
            <h1>Murat</h1>
            <h1>Yeken</h1>
            <p>I'm <span class="typed" data-typed-items="Designer,Developer,Engineer"></span></p>
       

    </div>
</section>
<!-- End Hero -->